---
---

<button type="button" aria-expanded="false" aria-haspopup="menu" class="burger">
	<span class="burger__line"></span>
	<span class="burger__line"></span>
	<span class="burger__line"></span>
</button>